@font-face {
  font-family: 'openSans';
  src: url("../fonts/openSans.eot");
  src: url("../fonts/openSans.eot") format("embedded-opentype"), url("../fonts/openSans.woff2") format("woff2"), url("../fonts/openSans.woff") format("woff"), url("../fonts/openSans.ttf") format("truetype"), url("../fonts/openSans.svg#openSans") format("svg"); }
@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSansSemibold.eot");
  src: url("../fonts/OpenSansSemibold.eot") format("embedded-opentype"), url("../fonts/OpenSansSemibold.woff2") format("woff2"), url("../fonts/OpenSansSemibold.woff") format("woff"), url("../fonts/OpenSansSemibold.ttf") format("truetype"), url("../fonts/OpenSansSemibold.svg#OpenSansSemibold") format("svg"); }
@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold.eot") format("embedded-opentype"), url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold.ttf") format("truetype"), url("../fonts/OpenSansBold.svg#OpenSansBold") format("svg"); }
/**********************gamburger*****************************/
.navbar {
  margin-bottom: 0;
  border: none; }

.navbar-right {
  float: left !important; }

.navbar-brand {
  margin: 27px 0;
  height: auto; }
  .navbar-brand img {
    width: 50%;
    height: 50%; }

.navbar-default {
  background-color: #0f89f4;
  background-image: none;
  border: none;
  box-shadow: none;
  border-radius: 0; }

.navbar-default .navbar-nav li a {
  margin: 44px 33px 0px 0px;
  padding: 0 0 8px;
  font-size: 13px;
  color: white; }

.navbar-nav {
  margin: 7.5px 15px; }

/************owl********************/
.owl-theme .owl-nav {
  margin-top: 0;
  top: 150px; }

.owl-theme .owl-dots .owl-dot {
  display: none; }

.owl-carousel .owl-stage-outer {
  overflow: initial;
  position: initial; }

.owl-theme .owl-nav .owl-prev {
  background-color: green;
  position: absolute;
  top: 150px;
  left: -50px; }

.owl-theme .owl-nav .owl-next {
  top: 150px;
  background-color: grey;
  position: absolute;
  right: -50px; }

.owl-item {
  border: solid 1px black; }

/***********************************/
.label_and_button h1 {
  margin-top: 85px;
  line-height: 45px;
  font-size: 36px; }
.label_and_button h4 {
  margin-top: 20px;
  color: #d2e7fb;
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 60px; }
.label_and_button a {
  color: #95c9fb;
  text-decoration: underline; }
  .label_and_button a i {
    padding-left: 5px; }
.label_and_button :nth-child(4) {
  margin-top: 40px;
  margin-left: 30px;
  display: block; }
.label_and_button :nth-child(3) {
  text-decoration: none;
  font-family: 'OpenSansSemibold';
  font-weight: bold;
  text-transform: uppercase;
  color: #345477;
  padding: 24px 42px;
  background-color: #9addfc;
  border-radius: 5px; }

body {
  font-family: 'openSans';
  margin: 0;
  padding: 0; }
  body header .main_information {
    color: white; }
    body header .main_information .container-fluid {
      background-color: #0f89f4; }
      body header .main_information .container-fluid .container .row {
        /**************/ }
        body header .main_information .container-fluid .container .row .col-md-6 img {
          width: 100%;
          height: 100%; }
        body header .main_information .container-fluid .container .row .col-md-12 {
          padding-top: 50px;
          padding-bottom: 60px;
          text-align: center; }
          body header .main_information .container-fluid .container .row .col-md-12 span {
            color: #95c9fb;
            font-size: 15px; }
          body header .main_information .container-fluid .container .row .col-md-12 a {
            margin-left: 34px;
            text-decoration: none; }
            body header .main_information .container-fluid .container .row .col-md-12 a img {
              height: 37px; }
  body section .carousel .container-fluid {
    position: relative;
       /* .prev{
          position: absolute;
          z-index: 1;
          background-color: #e58415;
          width: 100px;
          height: 350px;
          top: 0;
          left: -10px;

          i{

          }
        }*/ }
    body section .carousel .container-fluid .container .row .col-md-12 .owl-carousel .shaker {
      padding-bottom: 30px; }
      body section .carousel .container-fluid .container .row .col-md-12 .owl-carousel .shaker h3 {
        margin-top: 30px;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: #4266b3;
        font-size: 20px; }
      body section .carousel .container-fluid .container .row .col-md-12 .owl-carousel .shaker img {
        margin: auto;
        height: 190px;
        width: 95px; }
  body section .description .container .delivery .col-md-12 h4 {
    line-height: 50px;
    margin-top: 50px;
    font-size: 32px;
    color: #315479; }
  body section .description .container .delivery .col-md-6 {
    padding-top: 50px; }
    body section .description .container .delivery .col-md-6 img {
      width: 100%;
      height: 100%; }
    body section .description .container .delivery .col-md-6 h3 {
      word-wrap: break-word;
      font-size: 21px;
      line-height: 31px;
      max-width: 450px;
      color: #677482; }
    body section .description .container .delivery .col-md-6 :nth-child(1) {
      color: #315479; }
  body section .description .container .delivery .photo img {
    max-width: 450px; }
  body section .description .container .reviews {
    margin-bottom: 150px; }
    body section .description .container .reviews .col-md-12 {
      margin-top: 115px;
      margin-bottom: 75px; }
      body section .description .container .reviews .col-md-12 h4 {
        font-size: 36px;
        color: #315479; }
    body section .description .container .reviews .col-md-4 span {
      padding-left: 12px;
      color: #315479;
      font-size: 16px;
      display: block; }
      body section .description .container .reviews .col-md-4 span:nth-of-type(2) {
        color: #677482;
        line-height: 23px;
        padding-bottom: 30px; }
    body section .description .container .reviews .col-md-4 .blue_block {
      margin-bottom: 25px;
      position: relative;
      padding: 44px 40px 40px 60px;
      background-color: #158af4;
      color: white;
      border-radius: 5px; }
      body section .description .container .reviews .col-md-4 .blue_block img {
        height: 20px;
        width: 25px;
        position: absolute;
        top: 32px;
        left: 25px; }
      body section .description .container .reviews .col-md-4 .blue_block p {
        line-height: 25px;
        font-size: 17px; }
      body section .description .container .reviews .col-md-4 .blue_block:after {
        display: block;
        clear: both;
        content: "";
        height: 24px;
        width: 34px;
        transform: rotate(-30deg);
        background-color: #158af4;
        position: absolute;
        left: 40px;
        bottom: -10px; }
  body section .large_selection_of_shakers .container-fluid {
    background-color: #0f89f4;
    color: white; }
    body section .large_selection_of_shakers .container-fluid .container .row {
      padding-bottom: 65px; }
  body footer .container .row {
    margin-bottom: 50px; }
    body footer .container .row .col-md-4 {
      padding-left: 35px; }
      body footer .container .row .col-md-4:nth-of-type(2) {
        padding-left: 0; }
        body footer .container .row .col-md-4:nth-of-type(2) a {
          margin-right: initial; }
      body footer .container .row .col-md-4 h4 {
        margin-top: 66px;
        margin-bottom: 15px;
        font-size: 12px;
        text-transform: uppercase;
        color: #3974ca;
        font-family: 'OpenSansBold'; }
      body footer .container .row .col-md-4 p {
        font-size: 15px;
        line-height: 18px;
        color: #323232; }
      body footer .container .row .col-md-4 a {
        display: inline-block;
        text-decoration: none;
        margin-right: 17px; }
        body footer .container .row .col-md-4 a i {
          color: #30aae1;
          font-size: 15px; }
          body footer .container .row .col-md-4 a i:nth-of-type(1) {
            color: #2d7ec1; }
          body footer .container .row .col-md-4 a i:nth-of-type(2) {
            color: #0883bd; }
        body footer .container .row .col-md-4 a img {
          height: 15px; }
  body footer .container .footer_description .col-md-12 {
    padding-left: 35px; }
    body footer .container .footer_description .col-md-12 a {
      display: inline-block;
      margin-right: 4px;
      text-decoration: none;
      border-radius: 5px;
      color: white;
      padding: 3px 5px;
      background-color: #4266b3; }
      body footer .container .footer_description .col-md-12 a i {
        padding-right: 6px; }
      body footer .container .footer_description .col-md-12 a span {
        font-weight: bold;
        padding-right: 4px; }
        body footer .container .footer_description .col-md-12 a span:nth-of-type(2) {
          font-weight: normal; }
    body footer .container .footer_description .col-md-12 p {
      color: black;
      font-size: 12px;
      display: inline-block;
      margin-left: 17px; }

/*# sourceMappingURL=style.css.map */
